/*INITIAL OVERRIDE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-weight: 100;
}

body {
    background-color: #D1D5DB;
}

a {
    color: white;
    transition: all 0.3s ease;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size:74px;
    color: #ffae23;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

header {
    background-color: hsl(165, 10%, 32%);
}

p {
    margin-bottom: 16px; /* Ajusta el valor según el espaciado que desees */
}

/*NAV BAR*/

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.navLeft {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 80px 16px;
    align-items: center;
    left: 0px;
    position: absolute;
}

.navLeftB {
    display: none;
}

.navSpace {
    display: flex;
    justify-content: center;
    color: white;
    padding: 8px 0px 8px 0px;
}

.navRight {
    z-index: 1;
    background-color: hsl(165, 10%, 25%);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 24px;
    gap: 50px;
    padding: 40px;
    border-radius: 16px;
    text-align: end;
    border: 3px solid #F59E0B;
    border-radius: 16px;
    right: -200px;
    transition: right 0.3s ease;
}

.navRight.active {
    right: 16px;
}

.navBurguer {
    z-index: 2;
    position: fixed;
    transition: opacity 0.3s ease;
    opacity: 100%;
    padding: 6px 12px;
    margin: 16px;
    border-radius: 16px;
    transition: transform 0.3s ease;
    will-change: transform;
}

.navBurguer:hover {
    transform: scale(0.94);
    background-color: #576965;
}

.navBurguer img {
    width: 35px;
    height: 35px;
    translate: 0px 1px;
}

.navBurguer.active {
    opacity: 0%;
}

/*ACTIVE WEB*/

.activeWeb {
    color: #F59E0B;
}

/*PROMOTION AREA*/

.promotion {
    background-color: #F3F4F6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 16px;
    margin: 0px 16px;
    border-radius: 12px;
    
}

/*ABOUT ME*/

.cardsAboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

.cardAboutMe01 {
    width: 100%;
    max-width: 400px;
    margin: 0px 8px;
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 28px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.cardAboutMe01:hover {
    transform: scale(1.02);
}

.cardAboutMe01a {
    margin: 16px;
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.cardAboutMe01a img {
    width: 180px;
    border-radius: 500px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.cardAboutMe01b {
    padding: 20px;
    background-color: #495955;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.cardAboutMe01b img {
    transition: transform 0.3s ease;
    will-change: transform;
    display: flex;
    flex-direction: row;
    width: 30px;
    color: #a16600;
}

.cardAboutMe01b img:hover {
    transform: scale(1.1);
}

.cardAboutMe01 div {
    text-align: center;
}

.cardAboutMe01c img {
    width: 50px;
    box-shadow: none;
}

.cardAboutMe01d img {
    width: 25px;
    box-shadow: none;
}

.cardAboutMe01d {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cardAboutMe02 {
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: #F3F4F6;
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0px 8px;
    padding: 16px;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.cardAboutMe02Button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardAboutMe02:hover {
    transform: scale(1.02);
}

.cardAboutMe02 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardAboutMe02 div {
    gap: 16px;
}

.cloudPortfolio {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.sectionIconsSkills {
    padding: 16px;
}

.sectionIconsSkills ul {
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: #F3F4F6;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 28px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.sectionIconsSkills ul:hover {
    transform: scale(1.015);
}

.sectionIconsSkills ul img {
    transition: transform 0.3s ease;
    will-change: transform;
    width: 60px;
}

.sectionIconsSkills ul img:hover {
    transform: scale(1.2);
}

/*FOOTER*/

footer {
    color: white;
    background-color: #495955;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-height: 100vh 0px 0px 0px;
}

.footerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.footerIcons a img {
    width: 25px;
    transition: transform 0.3s ease;
}

.footerIcons a img:hover {
    transform: scale(1.1);
}

.footerText {
    display: flex;
    gap: 20px;
}

/*BUTTON*/

.button {
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: hsl(165, 10%, 32%);
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    text-align: center;
}

.button:hover {
    color: white;
    background-color: hsl(165, 10%, 40%);
    cursor: pointer;
}

/*EXPERIENCE CARD*/

.sectionExperience {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0px 16px;
}

.cardExperience {
    width: 100%;
    transition: transform 0.3s ease;
    will-change: transform;
    display: grid;
    background-color: #495955;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 8px;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "cardExperienceJob"
    "cardExperienceDescription"
    "cardExperienceJobIcons";
}

/* Estilo cuando cardExperience no tiene las otras clases .js */
.cardExperience.modified {
    display: flex;
    flex-direction: column;
}

.cardExperienceJob {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 8px;
    grid-area: cardExperienceJob;
}

.cardExperienceDescription {
    display: flex;
    border-radius: 12px;
    justify-content: left;
    justify-items: left;
    grid-area: cardExperienceDescription;
}

.cardExperienceJobIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    grid-area: cardExperienceJobIcons;
}

.cardExperienceJobIcons img{
    border-radius: 500px;
    width: 30px;
}

.cardExperience p {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 12px;
    height: 100%;
}

.cardExperience:hover {
    transform: scale(1.01);
}

/*EDUCATION TITLE*/

.titleCenter {
    padding: 16px;
    margin: 16px;
    color: #F59E0B;
    background-color: #F3F4F6;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

/*CONTACT*/

.contactSection {
    display: flex;
    justify-content: center;
}

.contactCard {
    padding: 16px;
    margin: 0px 16px;
    background-color: #F3F4F6;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.contactCard form ul {
    display: flex;
    padding: 8px;
    gap: 16px;
    justify-content: center;
}

.contactCardUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contactCardMessage {
    display: flex;
    flex-direction: column;
}

.contactCard input {
    border-width: 1px;
    border-color: #000000;
    width: 100%; 
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F3F4F6;
    border-radius: 12px;
}

.contactButton {
    display: flex;
    justify-content: center;
}

.contactButton:hover  {
    border-width: 1px;
    background-color: #F59E0B;
    border-color: #f59f0b00;
}

/*PROJECTS*/

.titleProjectsType {
    padding: 16px 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.projectSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    align-items: start;
}

.projectCard {
    color: #f8f8f8;
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: #495955;
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    
    padding: 12px;
    gap: 24px;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
    text-align: left;

    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
    "projectCardVideo"
    "projectCardData"
    "projectCardTag"
    ;
}

.projectCardVideo{
    grid-area: projectCardVideo;
    height: 140px;
    align-items: left;
}

.projectCardData{
    grid-area: projectCardData;
    justify-content: left;
    justify-items: left;
}

.projectCard img {
    max-width: 300px;
    background-color: #FBBF24;
}

.projectCard:hover {
    transform: scale(1.01);
}

.projectCardTag  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #374151;
    color: white;
    padding: 8px;
    border-radius: 8px;
    gap: 18px;
    grid-area: projectCardTag;
}

/*APARTAMENTO RR*/

.rrDescription {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 32px;
}

.rrDescription01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rrDescription02 {
    background-color: #F3F4F6;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 16px;
}

.rrGallery {
    padding: 0px 150px;
}

.rrGallery div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.rrGallery img {
    transition: transform 0.3s ease;
    will-change: transform;
}

.rrGallery img:hover {
    transform: scale(1.03);
}

/*SKILLS SECTION*/

.skillsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    padding: 0px 16px;
}

.skillCard {
    transition: transform 0.3s ease;
    will-change: transform;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 220px;
    padding: 0px 16px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
}

.skillCard:hover {
    transform: scale(1.04);
}

/*PRESS SETUP*/

a:hover {
    color: #d68800;
}

a:active {
    color: #a16600;
}

/*OVERRIDE*/

@media(min-width: 375px) {
    .projectCard video {
        height: 175px;
    }
}

@media(min-width: 428px) {
    .projectCard video {
        height: 190px;
    }
}

@media (min-width: 768px) {
    .titleExperience ul {
        justify-content: space-between;
    }
    .titleCenter ul {
        padding: 16px;
    }
    footer {
        justify-content: space-between;
    }
    .navBurguer {
        display:none;
    }
    .navRight {
        display: flex;
        flex-direction: row;
        background-color: #232b2900;
        position: relative;
        right: 0px;
        top: 0px;
        padding: 16px;
        border: 0px none;
        border-radius: 0px;
    }
    .navRight:hover {
        right: 0px;
    }
    .navLeftB {
        display: block;
        display: flex;
        justify-content: start;
    }
    .rrDescription02 {
        max-width: 400px;
    }
    .nav {
        padding: 16px 0px;
    }
    .cardExperience {
        flex-wrap: nowrap;
        grid-template-rows: 2fr;
        grid-template-columns: 0.5fr 1fr;
        grid-template-areas:
        "cardExperienceJob cardExperienceDescription"
        "cardExperienceJobIcons cardExperienceJobIcons";
    }
    .projectCard{
        justify-content: space-between;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        grid-template-areas:
        "projectCardVideo projectCardData"
        "projectCardVideo projectCardTag"
        ;
    }
}

@media (min-width: 1024px) {
    .sectionExperience, .projectSection {
        width: 90%;
        margin: 0 auto;
    }

    .rrDescription02 {
        max-width: 700px;
    }
    .projectCardTag{
        gap: 32px;
    }
}

@media (min-width: 1366px) {
    .sectionIconsSkills {
        padding: 16px 20%;
    }
    .skillsSection {
        padding: 0px 150px;
    }
    .sectionExperience, .projectSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        justify-items: center;
    }
}

@media (min-width: 1920px) {
    .sectionIconsSkills ul {
        gap: 40px;
    }
    .projectSection {
        gap: 32px;
    }
}

/*DARK MODE*/

/* Estilos para modo oscuro detectado por CSS */
@media (prefers-color-scheme: dark) {

.modo-oscuro body {
    background-color: hsl(0, 0%, 5%);
    color: #f0f0f0;
}

.modo-oscuro .cardAboutMe01, .projectCard, .rrDescription02, .cardExperience p, .contactCard, .skillCard, .titleCenter, .cardAboutMe02, .promotion, .sectionIconsSkills ul {
    background-color: hsl(0, 0%, 20%);
}

.modo-oscuro .button, .button:hover, footer a {
    color: white;
}

.modo-oscuro .projectCardTag li {
    background-color: hsl(165, 10%, 25%);
}

.modo-oscuro .cardAboutMe01, .cardAboutMe02, .button, .sectionIconsSkills ul, .skillCard, .titleCenter, .cardExperience, .projectCard, .contactCard {
    box-shadow: 5px 5px 5px hsl(0, 0%, 30%);
}

.modo-oscuro .button, .button:hover {
    box-shadow: 0px 0px 0px;
}

}