nav {
    color: white;
    background-color: rgb(55, 65, 81);
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

a:visited, a:active {
    color: inherit; /* Este estilo hereda el color del padre, que es blanco en este caso */
}

a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

ul.horizontal-list-right {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: right;
}

ul.horizontal-list-right li {
    display: inline; /* Hace que los elementos de la lista estén en línea */
    margin-right: 10px; /* Espacio entre los elementos de la lista */
}

ul.horizontal-list-left {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: left;
}

ul.horizontal-list-left li {
    display: inline; /* Hace que los elementos de la lista estén en línea */
    margin-right: 10px; /* Espacio entre los elementos de la lista */
}

ul.promotion {
    text-align: center;
}

ul.promotion li {
    display: inline;
    padding: 10px;
}